@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--red: hsl(0, 100%, 74%) ;
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%) ;
	--gray-blue: hsl(246, 25%, 77%);
	--fs: 16px;
	--fw-normal: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--ff: 'Poppins', sans-serif;
}

body {
	font-size: var(--fs);
	font-weight: var(--fw-normal);
	font-family: var(--ff);
	
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}